# Xcode
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/swiftpm/

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# Misc
.DS_Store
*.swp
*.orig
*.dmg

# xcodegen spec is intentionally tracked
